<script src='../js/post.js'></script>
<div class='container mt-5'>
  <div id='view-header'>
    <h1>{{post.title}}</h1>
    <p class='text-muted'>Created at
      {{post.createdAt}}
      by
      {{post.User.name}}</p>
  </div>
  <div id='view-content' class='mt-5'>
    {{post.content}}
  </div>
  <div id='comment-section' class='mt-5'>
    <hr />
    <div id='comment-header'>
      <h2>Comments</h2>
    </div>
    {{#if loggedIn}}
      <div id='comment-post'>
        <textarea id='add-comment-body' class='form-control'></textarea>
        <div id='comment-button-container' class='me-auto'>
          <button
            id='add-comment-button'
            class='btn btn-primary mt-2'
            data-postto='{{post.id}}'
          >Submit Comment</button>
        </div>
      </div>
    {{/if}}
    <div id='comment-body'>
      {{#each post.Comments}}
        <hr />
        <div class='comment-box mt-3 bg-light container p-3'>
          <p class='text-muted mb-2'>
            Comment by
            {{this.User.name}}
            at
            {{this.createdAt}}</p>
          <p>{{this.content}}</p>
        </div>

      {{/each}}
    </div>
  </div>
</div>